*,
*::before,
*::after{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

/* ヘッダー全体 */
.site-header{
  display:flex;
  justify-content: space-between;
  align-items:center;

  padding: 8px 15px;
  background-color: rgba(0,0,0,0.85);
  backdrop-filter: blur(8px);
  position: fixed;
  top:0;
  left:0;
  width:100%;
  z-index:1000;
}

main{
  padding-top:76px;
}


/* ロゴ */

.logo-image{
  height:60px;
  width:auto;
 will-change: transform;
  transform: translateZ(0);

  transition: transform 0.5s cubic-bezier(0.22, 1, 0.36, 1),
              box-shadow 0.5s cubic-bezier(0.22, 1, 0.36, 1);
}

/* 右側 */
.header-right{
  display:flex;
  gap:12px;
}

/* ボタン */
.header-btn{
  display:inline-block; /* ←重要：transformを安定させる */

  text-decoration:none;
  padding:8px 16px;
  border-radius:8px;
  font-weight:600;

  transition: transform 0.35s cubic-bezier(0.22, 1, 0.36, 1);
}
.header-list{
  display:flex;
  gap:12px;
}
/* 通知 */
.notice,
.alert {
  display:none;
}

/* 新規登録 */
.signup{
  background:#b61616;
  color:#ffffff;
}

/* ログイン・ログアウト */
.login{
  background: black;
  border:2px solid white;
  color: white;
}

.logout{
  border:2px solid white;
  color:#000000;
}

/* ホバー */
.header-btn:hover{
  transform: translateY(-3px) scale(1.04);
}

/* 押したとき */
.header-btn:active{
  transform: translateY(-1px) scale(1.02);
}



/* ホバー (小技・モーション)*/
.logo-image:hover{
  transform: translateY(-3px) scale(1.04);

  /* 浮いて赤く発光 */
    filter: drop-shadow(0 0 14px rgba(255,255,255,0.55));
}

-webkit-backdrop-filter: blur(8px);
backdrop-filter: blur(8px);
